
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
    border: none;
    outline: none;
    background: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}